body {font: 14px;}

.ex1{
    width: 460px;
    padding: 20px;
    background: rgb(53, 83, 255);
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

p, input{
    width: 400px;
    padding: 5px;
    background: #000;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    border: 5px solid #ccc;
    margin-top: 10px;
}